.lead__subtitle{
    margin: 0;
    padding-bottom: 64px;
    max-width: 640px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
}

@media screen and (max-width: 1100px) {
    .lead__subtitle{
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 900px) {
    .lead__subtitle{
       padding-bottom: 56px;
    }
}

@media screen and (max-width: 685px) {
    .lead__subtitle{
        padding-bottom: 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
    }
}