.cover {
  margin: 0 48px;
  max-width: calc(100% - 48px*2);
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1100px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}