.grid-container{
    margin: 0 48px 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
}

.grid-container__photo{
    object-fit: contain;
    background-repeat: no-repeat;
    width: 284px;
}